<div class="liked-songs-container">
    <div class="header">
      <h3 class="liked-songs-title">View and manage your liked songs.</h3>
      <button class="load-button" (click)="loadLikedSongs()">Load Liked Songs</button>
    </div>
  
    <div class="songs-list">
      <ul>
        <li 
          *ngFor="let song of likedSongs; trackBy: trackById" 
          class="song-item">
          <img [src]="song.track.album.images[0]?.url" alt="Album Art" class="album-art" />
          <div class="song-info">
            <p class="song-name">{{ song.track.name }}</p>
            <p class="song-artist">{{ song.track.artists[0]?.name }}</p>
          </div>
          <div class="song-meta">
            <p class="song-duration">{{ song.track.duration_ms | durationPipe }}</p>
          </div>
        </li>
        <li class="no-items" *ngIf="likedSongs.length === 0">No Items Available.</li>
      </ul>
    </div>
  </div>